.App {
    > h1 {
        text-align: center;
        background-color: #999;
        margin: 0;
        padding: 5vh;
        color: white;
    }
    .inside {
        display: flex;

        .left, .right {
            width: 50%;
            padding: 20px;

            h2 {
                font-weight: normal;
                display: inline-block;
                background-color: #32c3e0;
                color: white;
                padding: 10px;
                border-radius: 10px;
            }
        }

        .left {
            border-right: 1px solid #dcdcdc;

            li {
                display: flex;
                border-bottom: 1px solid #dcdcdc;

                &.top {
                    font-weight: bold;
                }

                > div {
                    width: 25%;
                    border-left: 1px solid #dcdcdc;
                   padding: 5px;
                }
            }
            
            ul{
                padding: 0;
                border-top: 1px solid #dcdcdc;
                border-right: 1px solid #dcdcdc;
            }
        }

        .right {
            p {
                display: flex;
                label {
                    color: #999;
                    font-style: italic;
                    margin-right: 20px;
                    width: 25%;
                }

                input, textarea {
                    width: 75%;
                    padding: 10px;
                }
            }

            select {
                width: 25%;
                padding: 10px;
            }

            input[type=submit] {
                margin-left: 20px;
                border: none;
                background-color: #ff8b20;
                color: white;
                padding: 10px;
                border-radius: 5px;
            }
        }
    }
}